*{box-sizing: border-box;}
body,ol,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,td,img,div,dl,dt,dd,input{margin:0;padding:0;}
body{font-size:12px;font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif;}
img{border:none;}
li{list-style:none;}
textarea{outline:none; border:none;}
textarea{resize:none;}
a{text-decoration:none; color:#656565}
/*清浮动*/
.clearfix:before,.clearfix:after { content:""; display:table;}
.clearfix:after{clear:both;}
.clearfix{*zoom:1;}
.fl{float:left;}
.fr{float:right;}
figure{
	padding: 0;
	margin: 0;
}
a, img {
    touch-callout: none; /* 禁止长按链接与图片弹出菜单 */
}